/************************************************

Stylesheet: Global Stylesheet

*************************************************/

.row {
	min-width: 100%;
}


// Font Variable Definitions

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:600i|Oswald:200,300,400|Lato');

@font-face {
	font-family: "Barlow Condensed";
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Oswald";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Oswald";
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}

$font1: "Oswald";
$font2: "Barlow Condensed";
$font3: "Lato";

// Color Variable Definitions

$color1: #1F5976;
$color2: #FFFFFF;
$color3: #10253F;
$color4: #ef5152;
$color5: #B5CFEA;
$color6: #edeeef;
$color7: #0e1a27;
$color8: #52b9d8;


/*********************
SCROLL BAR STYLING
*********************/

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px $color2;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color4;
}


/*********************
HEADER DEFINITIONS
*********************/

h1 {
	font-family: $font2;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	font-weight: 600;
	font-style: italic;
	color: $color2;
	line-height: 1.2;
	@include breakpoint(small only) {
		font-size: 2.25em;
	}
}

h2 {
	font-family: $font1;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 300;
	color: $color3;
	@include breakpoint(small only) {
		font-size: 1.25em;
	}
}

h3 {
	font-family: $font1;
	font-size: 2.75em;
	text-transform: uppercase;
	letter-spacing: 1.15px;
	font-weight: 400;
	color: $color1;
	@include breakpoint(small only) {
		font-size: 2.5em;
	}
}

h4 {
	font-family: $font3;
	font-size: 1.15em;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-weight: 400;
	color: $color3;
	@include breakpoint(small only) {
		font-size: 1em;
	}
}

h1, h2, h3, h4 {
	@include breakpoint(small only) {
		line-height: 1.2;
	}
}

p {
	font-family: $font1;
	font-weight: 300;
	color: $color3;
	text-align: center;
	letter-spacing: 1.25px;
	line-height: 2;
	font-size: 1.25em;

	@include breakpoint(small only) {
		line-height: 1.5;
	}
}

a {
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: $color2;
	font-weight: 400;
	font-size: 1.1em;
	&:hover {
		color: $color4;
	}
}

.cta {
	background-image: linear-gradient(to right, #ef5152, #ed1067 );
	padding: 1em 2em;
	border-radius: 26px;
	@include breakpoint(small only) {
		padding: .5em 2em;
	}
	a {
		font-size: 1em !important;
		letter-spacing: 1px;
		font-family: $font1;
		font-weight: 300;
		&:hover {
			color: $color2;
		}
	}
	span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	span:after {
		content: '>>';
		position: absolute;
		opacity: 0;
		top: -1px;
		right: -20px;
		transition: 0.5s;
	}

	&:hover span {
		padding-right: 25px;
	}

	&:hover span:after {
		opacity: 1;
		right: 0;
	}
}

.header {
	@include breakpoint(small only) {
		height: 55vh !important;
		background-position: top left !important;
	}
	@include breakpoint(medium only) {
		min-height: 30vh !important;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.top-bar, .top-bar ul {
	background-color: transparent !important;
}

.menu .active>a, .menu .is-active>a {
	background-color: transparent;
}

.menu {
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-align: center!important;
	align-items: center!important;
	a {
		text-transform: uppercase;
		color: $color2;
		font-family: $font1;
		font-weight: 300 !important;
		letter-spacing: 1px;
		font-style: normal !important;
		font-size: 1.25em;
		&:hover {
			color: $color4;
		}
	}
}

.current_page_item a {
	color: $color4  !important;
}

.hdr-logo {
	max-width: 100px;
}

/*********************
MOBILE NAV
*********************/

.off-canvas {
	background-color: $color7;

	.hdr-logo {
		padding: 1.5em 0;
	}

	.menu a {
		@include breakpoint(medium only) {
			font-size: 1.5em;
		}
	}
}

.off-canvas-socialmedia {
	position: absolute;
	bottom: 1em;
	 p {
		 color: $color5;
		 text-align: center !important;
	 }
}

.menu-icon {
	position: absolute;
	right: .5em;
	top: .5em;
}

/*********************
HOMEPAGE STYLES
*********************/

.hpg-hdr h1{
	@include breakpoint(small only) {
		line-height: 1;
		margin-top: .5em !important;
		font-size: 1.9em;
		margin-bottom: 0;
	}
}

.hpg-hdr-intro {
	padding-top: 5%;

	@include breakpoint(small only) {
		padding-top: 4%!important;
		padding-bottom: 0;
		h1 {
			line-height: 1;
			margin-top: 1em;
		}
	}

	a {
		position: relative;
	}

	a .arrow {
		position: absolute;
		font-size: 1.5em !important;
		color: $color4;
		font-weight: 400;
	}

	a span span{
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 0px;
		height: 10px;
		opacity: 1;
		position: absolute;
	}

	a .arrow:before {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 10px;
		height: 10px;
		position: absolute;
		opacity: 0.9;
		bottom: -1em;
	}

	a .arrow:after {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 20px;
		height: 10px;
		position: absolute;
		bottom: -1em;
		opacity: 0.7;
	}

	a:hover .arrow:before{
		animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
	}

	a:hover .arrow:after{
		animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
	}

	a:hover .arrow span{
		animation: animate-arrow-1 1s ease-in-out infinite;
	}

	@keyframes animate-arrow-1 {
		0%{transform:translateX(-40px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 1;}
	}
	@keyframes animate-arrow-2 {
		0%{transform:translateX(-20px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 0.9;}
	}
	@keyframes animate-arrow-3 {
		0%{transform:translateX(-10px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 0.7;}
	}
}

.hpg-one-intro {
	transform: skewY(-3.5deg);
	background-color: $color2;
	padding: 5em 0 0 0;
	margin-top: -4em;
}

.hpg-one-hdr {
	padding: -1em 0 5em 0!important;
	transform: skewY(3.5deg);

	img {
		margin-bottom: 1em;
	}
}

.hpg-one-content {
	background-color: $color6;
	transform: skewY(-3.5deg);
	padding: 5em 0 3em 0 !important;
}

.hpg-one-content-text {
	transform: skewY(3.5deg);
	li {
		font-size: inherit;
		font-family: $font1;
		font-weight: 300 !important;
		list-style: decimal-leading-zero;
		text-align: left;
		letter-spacing: .5px;
	}
}

.hpg-one-img {
	transform: skewY(3.5deg);
	position: relative;
	img {
		margin-bottom: -2em;
		@include breakpoint(small only) {
			margin-bottom: -1.35em;
		}
	}
	.dot-1, .dot-2, .dot-3 {
		height: 10px;
		width: 10px;
		background-color: $color4;
		border-radius: 50%;
		@include breakpoint(small only) {
			display: none;
		}
	}
	.dot-1 {
		position: absolute;
		top: 4em;
		left: 8em;
	}
	.dot-2 {
		position: absolute;
		bottom: 8em;
		left: 5em;
	}
	.dot-3 {
		position: absolute;
		bottom: 7em;
		right: 4em;
	}
}

.hpg-two-row {
	background-color: $color7;
	transform: skewY(3.5deg);
	margin-top: 6em;

	@include breakpoint(medium large xlarge) {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-align: center !important;
		align-items: center !important;
	}
}

.hpg-features-img {
	@include breakpoint(medium only) {
		min-height: 30vh !important;	}
}


#answer1, #answer2, #answer3 {
	padding: 0 3em;
	h2 {
		color:$color8;
		margin-bottom: 1em;
	}
	p {
		color: $color2;
		font-size: 1.15em;
		line-height: 1.5;
	}
	a {
		font-size: .85em;
		position: relative;
	}

	a .arrow {
		position: absolute;
		font-size: 1.25em !important;
		color: $color4;
		font-weight: 400;
	}

	a span span{
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 0px;
		height: 10px;
		opacity: 1;
		position: absolute;
	}

	a .arrow:before {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 1px;
		height: 10px;
		position: absolute;
		opacity: 0.9;
		bottom: -2em;
	}

	a .arrow:after {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 9px;
		height: 10px;
		position: absolute;
		bottom: -2em;
		opacity: 0.7;
	}
}

#answer2, #answer3 {
	display: none;
}

.hpg-two-title {
	padding: 3em 7em !important;

	@include breakpoint(medium only) {
		padding: 3em 4em!important;
	}
	@include breakpoint(small only) {
		padding: 1em !important;
	}

	.accordion {
		background-color: transparent;
		padding: 0 2em;
		.accordion-title {
			border: none;
			padding: 1.25rem .5rem .25em;

			h2 {
				color: $color8;
				font-size: 1.5em;
				&:hover {
					color: $color4;
				}
				&:active {
					color: $color4;
				}
			}
		}

		.accordion-title:before {
			color: $color8;
		}
		.accordion-title:focus, .accordion-title:hover {
			background-color: transparent !important;
		}
		.accordion-content {
			display: none;
			padding: 0 1rem;
			border: none;
			background-color:transparent;
			border-left: 1px solid $color4;
			margin-left: 1em;
			p {
				color: $color2 !important;
				font-size: .75em;
			}
		}
	}

	a, h2 {
		line-height: 1.75;
		color: $color1;
		position: relative;

		&:hover {
			color: $color4;
		}
		&:active {
			color: $color4;
		}

	}
	.active {
		a, h2 {
			color: $color8;
		}
	}
	.active:before {
		content: '>>';
		position: absolute;
		left: -1em;
		font-weight: 300;
		color: $color8;
		font-family: $font1;
		font-size: 1.5em;
		line-height: 1.5;
		letter-spacing: -2px;
	}
}

.hpg-three-row {
	padding: 5em 0;
}

#hpg-repeater-content {
	h2 {
		color: $color8;
	}
	p {
		color: $color2;
		text-transform: uppercase;
	}
}

.hpg-four-row {
	padding-top: 5em;
	transform: skewY(-3.5deg);

	@include breakpoint(small only) {
		padding: 2em 0 !important;
		min-height: 60vh !important;
	}
}

.hpg-four-content {
	transform: skewY(3.5deg);
	position: relative;
	@include breakpoint(small only) {
		h1 {
			font-size: 1.75em;
		}
	}
}

.hpg-four-sub-content {
	h1 {
		font-size: 1.5em!important;
		line-height: 1;
		position: absolute;
		bottom: 2.5em;
		right: 1em;
	}
}

.hpg-five-row {
	padding: 6em 0 7em;
}

.icons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 1em;
	.icon-item {
		-ms-flex: 1;
		flex: 1;
		padding: 1.5em 0;
		@include breakpoint(small only) {
			padding: 1em .15em;
		}
		a:hover {
			background-color: transparent;
		}
		img {
			max-width: 200px !important;
			max-height: 125px;
			-webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
			filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
			@include breakpoint(small only) {
				max-width: 130px!important;
				max-height: 75px;
			}
		}
		img:hover {
			filter: none;
		}
	}
}

.grow {
	transition: all .2s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}
}

/*********************
SECURITY PAGE STYLES
*********************/


.security-repeater {
	p {
		font-size: 1.25em !important;
	}
}

/*********************
TECHNOLOGY PAGE STYLES
*********************/

.tech-one-row {
	background-color: $color2;
	transform: skewY(-3.15deg);
	padding: 5em 0 0 0;
	margin-top: -4em;
}

.tech-one-content {
	margin-bottom: 5em;
	transform: skewY(3.15deg);
	img {
		margin-bottom: 1em;
	}
}

.tech-repeater-hdr {
	transform: skewY(-3.15deg);
}

.tech-one-image {
	margin-bottom: -1.65em;
	transform: skewY(3.15deg);
	position: relative;

	@include breakpoint(medium only) {
		margin-bottom: -1.75em;
	}

	@include breakpoint(small only) {
		margin-bottom: -1.1em;
	}
	.dot-1, .dot-2, .dot-3 {
		height: 10px;
		width: 10px;
		background-color: $color4;
		border-radius: 50%;
		@include breakpoint(small only) {
			display: none;
		}
	}
	.dot-1 {
		position: absolute;
		top: 4em;
		left: 8em;
	}
	.dot-2 {
		position: absolute;
		bottom: 8em;
		left: 3em;
	}
	.dot-3 {
		position: absolute;
		bottom: 5em;
		right: 5em;
	}
}

.tech-two-row {
	transform: skewY(-3.15deg);
	background-color: $color6;
	padding: 6em 0;

	.cta {
		transform: skewY(3.15deg);
		span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}

		span:after {
			content: '>>';
			position: absolute;
			opacity: 0;
			top: -1px;
			right: -20px;
			transition: 0.5s;
		}

		&:hover span {
			padding-right: 25px;
		}

		&:hover span:after {
			opacity: 1;
			right: 0;
		}
	}
}

.tech-two-content {
	transform: skewY(3.15deg);
}

.tech-repeater {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 1em;

	.tech-repeater-item {
		-ms-flex: 1;
		flex: 1;
		padding: 1.5em 0;
		min-width: 240px;
		@include breakpoint(small only) {
			padding: 1.5em;
		}
		@include breakpoint(medium only) {
			min-width: 315px;
		}
		p {
			font-size: 1.1em;
			letter-spacing: 1px;
		}

		h2 {
			margin-top: 1.25em;
			font-size: 1.25em;
			@include breakpoint(small only) {
				margin-top: .75em;
			}
		}
		h3 {
			font-size: 1.75em;
			margin-bottom: 1.25em;
			@include breakpoint(small only) {
				margin-bottom: .5em;
			}
		}
	}

	IMG {
		padding-bottom: 1.25em;
		max-width: 90px;
		border-bottom: 3px solid $color4;
	}

	.end {
		border: none !important;
	}

	.odd {
		@include breakpoint(medium only) {
			border: none;
		}
	}
}

.tech-repeater-content {
	padding: 0 2em 1.5em;
	border-right: 4px solid $color2;
	@include breakpoint(large xlarge) {
		min-height: 450px;
	}
	@include breakpoint(small only) {
		border-right: none;
		padding: .5em;
	}
}

.tech-cta {
	padding: 8em 0;
	h2 {
		letter-spacing: 1.75px;
	}
	img {
		@include breakpoint(small only) {
			text-align: center;
			display: block;
			margin: .5em auto !important;
		}
	}
	a {
		position: relative;
		font-family: $font1;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $color4;
		font-weight: 300;
		font-size: 1.1em;
		&:hover {
			color: $color4;
		}
	}
	a .arrow {
		position: absolute;
		font-size: 1.5em !important;
		left: 62%;
		top: 25%;
		font-weight: 400;
	}

	a span span{
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 0px;
		height: 10px;
		opacity: 1;
		position: absolute;
	}

	a .arrow:before {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 10px;
		height: 10px;
		position: absolute;
		opacity: 0.9;
		bottom: -1em;
	}

	a .arrow:after {
		content:">";
		display: block;
		width: 8px;
		top: 0;
		margin: auto;
		right: 20px;
		height: 10px;
		position: absolute;
		bottom: -1em;
		opacity: 0.7;
	}

	a:hover .arrow:before{
		animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
	}

	a:hover .arrow:after{
		animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
	}

	a:hover .arrow span{
		animation: animate-arrow-1 1s ease-in-out infinite;
	}

	@keyframes animate-arrow-1 {
		0%{transform:translateX(-40px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 1;}
	}
	@keyframes animate-arrow-2 {
		0%{transform:translateX(-20px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 0.9;}
	}
	@keyframes animate-arrow-3 {
		0%{transform:translateX(-10px);opacity: 0;}
		70%,100%{transform:translateX(0px);opacity: 0.7;}
	}
}

/*********************
ABOUT US STYLES
*********************/

.about-copy-header {
	transform: skewY(3.15deg);
	img {
		margin-bottom: 1em;
	}
}

.about-img {
	margin-bottom: -2.65em!important;
	transform: skewY(3.15deg);
	position: relative;
	@include breakpoint(small only) {
		margin-bottom: -1.8em!important;
	}
	@include breakpoint(medium only) {
		margin-bottom: -2.85em!important;
	}
	.dot-1, .dot-2, .dot-3 {
		height: 10px;
		width: 10px;
		background-color: $color4;
		border-radius: 50%;
		@include breakpoint(small only) {
			display: none;
		}
	}
	.dot-1 {
		position: absolute;
		top: 4em;
		left: 5em;
	}
	.dot-2 {
		position: absolute;
		bottom: 8em;
		left: 2em;
	}
	.dot-3 {
		position: absolute;
		top: 10em;
		right: 12em;
	}
}

.about-ftr {
	padding: 5em;
}

/*********************
FAQ STYLES
*********************/

.faq-row {
	transform: skewY(3.5deg);
	padding-bottom: 5em;

	img {
		margin-bottom: 1em;
	}

	.accordion {
		padding: 3em 0 5em 0;

		h2 {
			padding: 3em 0 1em 0;
		}

	}

	.accordion-title:before {
		color: $color3;
		&:hover {
			color: $color4 !important;
		}
	}

	.accordion-title {
		border: none;
		border-bottom: 1px solid lightgrey;
		padding: 1em;
		h4 {
			margin-bottom: 0;
			text-align: left !important;

			&:hover {
				color: $color4;
			}
		}
		&:hover {
			background-color: transparent;
		}
	}

	.accordion-content {
		background-color:$color6;
		p {
			text-align: left;
			font-size: .85em;
		}
	}
}

.faq-content {
	margin-top: .5em;
	a {
		color: $color3;
		font-size: .85em;
		&:hover {
			color: $color4;
		}
	}
}

.cat-hdr {
	margin: 4em 0 1em 0;
}

.cat-buttons {
	margin-bottom: 3em;
	.active button {
		background-color: $color3;
		color: $color2;
		cursor: pointer;
	}
}

.faq-cat {
	background-color: transparent;
	padding: .5em 2em;
	border-radius: 26px;
	border: 1px solid $color3;
	margin: 0 .5em;
	font-size: 1em !important;
	letter-spacing: 1px !important;
	font-family: $font1 !important;
	font-weight: 300 !important;
	text-transform: uppercase;
	color: $color3;

	@include breakpoint(small only) {
		margin: .5em;
	}

	&:hover {
		background-color: $color3;
		color: $color2;
		cursor: pointer;
	}
}

#searchform {
	padding-top: 2em;
	text-align: center;

	h2 {
		display: -webkit-inline-box;
		margin-bottom: 0 !important;
		line-height: 0;
	}

	.searchbox {
		border: none;
		border-bottom: 1px solid $color3;
		box-shadow: none;
		display: -webkit-inline-box;
		width: 75%;
	}
}

#searchsubmit {
	background : url("http://pixxles.local/wp-content/uploads/2019/04/magnify-icon.png") no-repeat center center;
	width : 30px;
	height :52px;
	background-size: contain;
	border : none;
	color : transparent;
	font-size : 0
}

.answer1, .answer2 {
	display: none;
}


.archive-title {
	margin: 2em 0 0 0;
}

/*********************
FEATURES STYLES
*********************/

.feature-img {
	position: relative;
	transform: skewY(3.5deg);
	margin-bottom: .25em;
	img {
		margin-bottom: -1.65em;
		@include breakpoint(small only) {
			margin-bottom: -1.25em;
		}
	}

	.dot-1, .dot-2, .dot-3 {
		height: 10px;
		width: 10px;
		background-color: $color4;
		border-radius: 50%;
		@include breakpoint(small only) {
			display: none;
		}
	}

	.dot-1 {
		position: absolute;
		top: 2em;
		left: 4em;
	}

	.dot-2 {
		position: absolute;
		bottom: 8em;
		left: -1em;
	}

	.dot-3 {
		position: absolute;
		bottom: 7em;
		right: 4em;
	}
}

.features-repeater-section {
	background-color: $color6;
	transform: skewY(-3.5deg);
	padding: 5em 0 3em 0 !important;
}

.features-repeater-section-content {
	transform: skewY(3.5deg);

	.cta {
		margin: 3em 0 !important;
	}
}

.features-repeater-item {
	padding: 2em 1em !important;

	.firstWord {
		h2 {
			margin-bottom: 0;
		}
		h3 {
			margin-bottom: .5em;
			font-size: 2em;
		}
	}
}

.features-repeater-item-content {
	position: relative;
	@include breakpoint(medium large xlarge) {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-align: center !important;
		align-items: center !important;
	}

	@include breakpoint(small only) {
		min-height:42vh !important;
	}

	.hover {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 5em 3em!important;
		background-color: rgba(16, 37, 63, .8);

		@include breakpoint(small only) {
			display: block !important;
			padding: 2.5em 2em!important;
		}
		@include breakpoint(medium only) {
			padding: 7em 3em!important;
			display: block !important;
		}

		h4 {
			color: $color8;
		}
		p {
			color: $color2;
			line-height: 1.5;
			font-size: 1em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include breakpoint(medium only) {
				font-size: 1.15em;
			}
		}
	}
}

.features-repeater-item-content:hover {
	.hover {
		display: block;
	}
}

/*********************
PRIVACY STYLES
*********************/

.privacy-content {
	p {
		line-height: 1.5;
	}
	a {
		color: $color3;
		font-size: 0.85em;
		&:hover {
			color: $color4;
		}
	}
}

/*********************
CONTACT US STYLES
*********************/

.contact-copy {
	transform: skewY(3.5deg);
	img {
		margin-bottom: 1em;
	}
}

.contact-repeater {
	@include breakpoint(medium large xlarge) {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	padding: 1em;

	.contact-repeater-item {
		-ms-flex: 1;
		flex: 1;
		padding: 1.5em 1em;

		@include breakpoint(small only) {
			padding: 1.5em;
			a, h4, p {
				text-align: center !important;
			}
		}

		a {
			color: $color3;
			font-weight: 300;
			font-size: 1em;
			text-transform: none;
			&:hover {
				color: $color4;
			}
		}
	}
}

.gform_wrapper .gform_footer {
	text-align: center !important;
}

#gform_wrapper_1 {
	[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
		border: none;
		border-bottom: 1px solid $color3;
		background-color: transparent;
		box-shadow: none;
	}


	#gform_submit_button_1 {
		background-image: linear-gradient(to right, #ef5152, #ed1067);
		padding: 1em 2em;
		border-radius: 26px;
		font-size: 1em !important;
		letter-spacing: 1px !important;
		font-family: $font1 !important;
		font-weight: 300 !important;
		text-transform: uppercase;
		@include breakpoint(small only) {
			padding: 0em 1em;
		}
	}


	/* form placeholder overrides - have to use !important or this doesn't work
	--------------------------------------------- */
	::-webkit-input-placeholder { /* Chrome */
		color: $color3 !important;
		font-family: $font1 !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
	}

	:-ms-input-placeholder { /* IE 10+ */
		color: $color3 !important;
		font-family: $font1 !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
	}

	::-moz-placeholder { /* Firefox 19+ */
		color: $color3 !important;
		font-family: $font1 !important;
		opacity: 1 !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
	}

	:-moz-placeholder { /* Firefox 4 - 18 */
		color: $color3 !important;
		font-family: $font1 !important;
		opacity: 1 !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
	}

	#input_1_12, #input_1_13, #input_1_10 {
		color: $color3 !important;
		font-family: $font1 !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $color3;
	}

	#input_1_14_3, #input_1_15_6 {
		margin-bottom: 0 !important;
		margin-top: 0;
	}
	#input_1_13, #input_1_12 {
		padding-right: 2em;
	}
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
	display: none !important;
}

.contact-form {
	background-color: $color6;
	transform: skewY(-3.5deg);
	padding: 5em 0 3em 0 !important;
}

.contact-form-content {
	transform: skewY(3.5deg);
	h4 {
		line-height: 1.75;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	background-color: $color7;
	transform: skewY(-3deg);
	padding: 6em 0;
	margin-bottom: -4em;

	p {
		color: $color5;
		line-height: 1.5;
	}
}

.ftr {
	transform: skewY(3.5deg);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 1em;
	justify-content: center;

	a {
		text-transform: uppercase;
		color: $color5;
		font-family: $font1;
		font-weight: 300 !important;
		letter-spacing: 1px;
		font-style: normal !important;
		font-size: 1em;
		&:hover {
			color: $color4;
		}

	}

	.ftr-item {
		-ms-flex: 1;
		flex: 1;
		padding: 1.5em 0;
		@include breakpoint(small only) {
			padding: 1em 0em;

			#footer-links {
				display: none;
			}
			p {
				font-size: 1em;
			}
		}
	}
}

.ftr-logo {
	max-width: 150px;
	@include breakpoint(small only) {
		padding-right: 2em;
	}
}

.ftr-contact {
	@include breakpoint(small only) {
		min-width: 50%;
	}
}

.footer-menu {
	ul {
		margin-left: 0 !important;
	}
	li {
		list-style: none !important;
	}
	a {
		text-transform: uppercase;
		color: $color5;
		font-family: $font1;
		font-weight: 300 !important;
		letter-spacing: 1px;
		font-style: normal !important;
		font-size: 1.25em;
		&:hover {
			color: $color4;
		}
	}
}

.social-media {
	@include breakpoint(small only) {
		display: none !important;
	}
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
	margin: 20px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}